<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rizon_ros2_control"
    params="
    prefix
    robot_sn
    rdk_control_mode:='joint_position'
    use_fake_hardware:=false
    fake_sensor_commands:=false
    initial_positions_file
    external_axis_type:=''
    external_axis_prefix:=''
    ">

    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="FlexivHardwareInterface" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>mock_components/GenericSystem</plugin>
          <param name="mock_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>
        <xacro:unless value="${use_fake_hardware}">
          <plugin>flexiv_hardware/FlexivHardwareInterface</plugin>
          <param name="robot_sn">${robot_sn}</param>
          <param name="prefix">${prefix}</param>
          <param name="rdk_control_mode">${rdk_control_mode}</param>
        </xacro:unless>
      </hardware>

      <joint name="${prefix}joint1">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint1']}</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}joint2">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint2']}</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}joint3">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint3']}</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}joint4">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint4']}</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}joint5">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint5']}</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}joint6">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint6']}</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="${prefix}joint7">
        <command_interface name="position" />
        <command_interface name="velocity" />
        <command_interface name="effort" />
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint7']}</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>

      <!-- External axis joints -->
      <xacro:if value="${external_axis_type == 'aico1_4_v1'}">
        <joint name="${external_axis_prefix}aico1_4_v1_joint2">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
      </xacro:if>
      <xacro:if value="${external_axis_type == 'aico1_4_v2'}">
        <joint name="${external_axis_prefix}aico1_4_v2_joint1">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
        <joint name="${external_axis_prefix}aico1_4_v2_joint2">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
        <joint name="${external_axis_prefix}aico1_4_v2_joint_head">
          <command_interface name="position" />
          <command_interface name="velocity" />
          <command_interface name="effort" />
          <state_interface name="position">
            <param name="initial_value">0.0</param>
          </state_interface>
          <state_interface name="velocity" />
          <state_interface name="effort" />
        </joint>
      </xacro:if>

      <!-- 18 digital IO ports (16 on control box + 2 inside the wrist connector) -->
      <gpio name="${prefix}gpio">
        <command_interface name="digital_output_0" />
        <command_interface name="digital_output_1" />
        <command_interface name="digital_output_2" />
        <command_interface name="digital_output_3" />
        <command_interface name="digital_output_4" />
        <command_interface name="digital_output_5" />
        <command_interface name="digital_output_6" />
        <command_interface name="digital_output_7" />
        <command_interface name="digital_output_8" />
        <command_interface name="digital_output_9" />
        <command_interface name="digital_output_10" />
        <command_interface name="digital_output_11" />
        <command_interface name="digital_output_12" />
        <command_interface name="digital_output_13" />
        <command_interface name="digital_output_14" />
        <command_interface name="digital_output_15" />
        <command_interface name="digital_output_16" />
        <command_interface name="digital_output_17" />

        <state_interface name="digital_input_0" />
        <state_interface name="digital_input_1" />
        <state_interface name="digital_input_2" />
        <state_interface name="digital_input_3" />
        <state_interface name="digital_input_4" />
        <state_interface name="digital_input_5" />
        <state_interface name="digital_input_6" />
        <state_interface name="digital_input_7" />
        <state_interface name="digital_input_8" />
        <state_interface name="digital_input_9" />
        <state_interface name="digital_input_10" />
        <state_interface name="digital_input_11" />
        <state_interface name="digital_input_12" />
        <state_interface name="digital_input_13" />
        <state_interface name="digital_input_14" />
        <state_interface name="digital_input_15" />
        <state_interface name="digital_input_16" />
        <state_interface name="digital_input_17" />
      </gpio>

    </ros2_control>
  </xacro:macro>
</robot>
