<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aico1">

  <!-- Parameters -->
  <xacro:arg name="external_axis_type" default="aico1_4_v1" />
  <xacro:arg name="external_axis_prefix" default="" />
  <xacro:arg name="arm_prefix" default="" />
  <xacro:arg name="robot_sn" default="" />
  <xacro:arg name="rizon_type" default="Rizon4" />
  <xacro:arg name="load_gripper" default="false" />
  <xacro:arg name="gripper_name" default="Flexiv-GN01" />
  <xacro:arg name="load_mounted_ft_sensor" default="false" />
  <xacro:arg name="ros2_control" default="false" />
  <xacro:arg name="rdk_control_mode" default="joint_position" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="initial_positions_file"
    default="$(find flexiv_description)/config/initial_positions.yaml" />

  <!-- Validate rizon_type -->
  <xacro:if value="${'$(arg rizon_type)' != 'Rizon4' and '$(arg rizon_type)' != 'Rizon4s' and '$(arg rizon_type)' != 'Rizon4R'}">
    ${xacro.warning('AICO1 only supports Rizon4, Rizon4s and Rizon4R. You selected $(arg rizon_type).')}
  </xacro:if>

  <xacro:include filename="$(find flexiv_description)/urdf/common/aico1_4_v1.xacro" />
  <xacro:include filename="$(find flexiv_description)/urdf/common/aico1_4_v2.xacro" />
  <xacro:include filename="$(find flexiv_description)/urdf/common/rizon_robot.xacro" />

  <!-- Calculate the actual prefix rizon_robot will use -->
  <xacro:property name="calculated_arm_prefix"
    value="${('$(arg arm_prefix)' + '_' + '$(arg robot_sn)' + '_') if '$(arg arm_prefix)' != '' and '$(arg robot_sn)' != '' else ('$(arg arm_prefix)' + '$(arg robot_sn)' + '_') if ('$(arg arm_prefix)' + '$(arg robot_sn)') != '' else ''}" />

  <!-- Instantiate External Axis -->
  <link name="world" />

  <xacro:if value="${'$(arg external_axis_type)' == 'aico1_4_v1'}">
    <xacro:aico1_4_v1 prefix="$(arg external_axis_prefix)" arm_prefix="${calculated_arm_prefix}"
      mesh_prefix_path="package://flexiv_description/" />
    <joint name="world_to_platform" type="fixed">
      <parent link="world" />
      <child link="$(arg external_axis_prefix)aico1_4_v1_base_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  </xacro:if>
  <xacro:if value="${'$(arg external_axis_type)' == 'aico1_4_v2'}">
    <xacro:aico1_4_v2 prefix="$(arg external_axis_prefix)" arm_prefix="${calculated_arm_prefix}"
      mesh_prefix_path="package://flexiv_description/" />
    <joint name="world_to_platform" type="fixed">
      <parent link="world" />
      <child link="$(arg external_axis_prefix)aico1_4_v2_base_link" />
      <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>
  </xacro:if>

  <!-- Instantiate Arm -->
  <xacro:rizon_robot
    rizon_type="$(arg rizon_type)"
    robot_sn="$(arg robot_sn)"
    joint_limits_parameters_file="$(find flexiv_description)/config/$(arg rizon_type)/joint_limits.yaml"
    kinematics_parameters_file="$(find flexiv_description)/config/$(arg rizon_type)/default_kinematics.yaml"
    inertia_parameters_file="$(find flexiv_description)/config/$(arg rizon_type)/inertia_parameters.yaml"
    visual_parameters_file="$(find flexiv_description)/config/$(arg rizon_type)/visual_parameters.yaml"
    arm_prefix="$(arg arm_prefix)"
    load_gripper="$(arg load_gripper)"
    gripper_name="$(arg gripper_name)"
    load_mounted_ft_sensor="$(arg load_mounted_ft_sensor)"
    ros2_control="$(arg ros2_control)"
    rdk_control_mode="$(arg rdk_control_mode)"
    use_fake_hardware="$(arg use_fake_hardware)"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    initial_positions_file="$(arg initial_positions_file)"
    add_world_link="false"
    create_base_joint="false"
    external_axis_type="$(arg external_axis_type)"
    external_axis_prefix="$(arg external_axis_prefix)"
  />

</robot>
