<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rizon_dual">

  <xacro:arg name="robot_sn_left" default="" />
  <xacro:arg name="robot_sn_right" default="" />
  <xacro:arg name="rizon_type_left" default="Rizon4" />
  <xacro:arg name="rizon_type_right" default="Rizon4R" />

  <xacro:arg name="load_gripper_left" default="false" />
  <xacro:arg name="gripper_name_left" default="Flexiv-GN01" />
  <xacro:arg name="load_mounted_ft_sensor_left" default="false" />

  <xacro:arg name="load_gripper_right" default="false" />
  <xacro:arg name="gripper_name_right" default="Flexiv-GN01" />
  <xacro:arg name="load_mounted_ft_sensor_right" default="false" />

  <!-- ros2_control related parameters -->
  <xacro:arg name="ros2_control" default="false" />
  <xacro:arg name="rdk_control_mode" default="joint_position" />
  <xacro:arg name="use_fake_hardware" default="false" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="initial_positions_file_left" default="$(find flexiv_description)/config/left_initial_positions.yaml" />
  <xacro:arg name="initial_positions_file_right" default="$(find flexiv_description)/config/right_initial_positions.yaml" />
  <xacro:arg name="mounting_file" default="$(find flexiv_description)/config/dual_arm_mounting.yaml" />

  <xacro:include filename="$(find flexiv_description)/urdf/common/rizon_robot.xacro" />
  <xacro:include filename="$(find flexiv_description)/urdf/common/rizon_dual.ros2_control.xacro" />

  <!-- Define prefixes -->
  <xacro:property name="prefix_left" value="left_$(arg robot_sn_left)_" />
  <xacro:property name="prefix_right" value="right_$(arg robot_sn_right)_" />
  <xacro:property name="mounting" value="${xacro.load_yaml('$(arg mounting_file)')}" />

  <link name="world" />

  <!-- Left Robot -->
  <xacro:rizon_robot
    rizon_type="$(arg rizon_type_left)"
    robot_sn="$(arg robot_sn_left)"
    joint_limits_parameters_file="$(find flexiv_description)/config/$(arg rizon_type_left)/joint_limits.yaml"
    kinematics_parameters_file="$(find flexiv_description)/config/$(arg rizon_type_left)/default_kinematics.yaml"
    inertia_parameters_file="$(find flexiv_description)/config/$(arg rizon_type_left)/inertia_parameters.yaml"
    visual_parameters_file="$(find flexiv_description)/config/$(arg rizon_type_left)/visual_parameters.yaml"
    arm_prefix="left"
    load_gripper="$(arg load_gripper_left)"
    gripper_name="$(arg gripper_name_left)"
    load_mounted_ft_sensor="$(arg load_mounted_ft_sensor_left)"
    ros2_control="false"
    add_world_link="false"
    base_xyz="${mounting['positions']['left']['x']} ${mounting['positions']['left']['y']} ${mounting['positions']['left']['z']}"
    base_rpy="${radians(mounting['positions']['left']['rx'])} ${radians(mounting['positions']['left']['ry'])} ${radians(mounting['positions']['left']['rz'])}"
  />

  <!-- Right Robot -->
  <xacro:rizon_robot
    rizon_type="$(arg rizon_type_right)"
    robot_sn="$(arg robot_sn_right)"
    joint_limits_parameters_file="$(find flexiv_description)/config/$(arg rizon_type_right)/joint_limits.yaml"
    kinematics_parameters_file="$(find flexiv_description)/config/$(arg rizon_type_right)/default_kinematics.yaml"
    inertia_parameters_file="$(find flexiv_description)/config/$(arg rizon_type_right)/inertia_parameters.yaml"
    visual_parameters_file="$(find flexiv_description)/config/$(arg rizon_type_right)/visual_parameters.yaml"
    arm_prefix="right"
    load_gripper="$(arg load_gripper_right)"
    gripper_name="$(arg gripper_name_right)"
    load_mounted_ft_sensor="$(arg load_mounted_ft_sensor_right)"
    ros2_control="false"
    add_world_link="false"
    base_xyz="${mounting['positions']['right']['x']} ${mounting['positions']['right']['y']} ${mounting['positions']['right']['z']}"
    base_rpy="${radians(mounting['positions']['right']['rx'])} ${radians(mounting['positions']['right']['ry'])} ${radians(mounting['positions']['right']['rz'])}"
  />

  <!-- Dual ROS 2 Control -->
  <xacro:if value="$(arg ros2_control)">
    <xacro:rizon_dual_ros2_control
      prefix_left="${prefix_left}"
      prefix_right="${prefix_right}"
      robot_sn_left="$(arg robot_sn_left)"
      robot_sn_right="$(arg robot_sn_right)"
      rdk_control_mode="$(arg rdk_control_mode)"
      use_fake_hardware="$(arg use_fake_hardware)"
      fake_sensor_commands="$(arg fake_sensor_commands)"
      initial_positions_file_left="$(arg initial_positions_file_left)"
      initial_positions_file_right="$(arg initial_positions_file_right)"
      translation_left_x="${mounting['positions']['left']['x']}"
      translation_left_y="${mounting['positions']['left']['y']}"
      translation_left_z="${mounting['positions']['left']['z']}"
      translation_right_x="${mounting['positions']['right']['x']}"
      translation_right_y="${mounting['positions']['right']['y']}"
      translation_right_z="${mounting['positions']['right']['z']}"
    />
  </xacro:if>

</robot>
